@media (max-width: 76.8rem) {
  .header .headline {
    text-align: center;
    margin-bottom: 4rem;
  }
  .header .headline__main {
    width: 100%;
    font-size: 3rem;
    line-height: 1;
  }
  .rate .review,
  .rate .report,
  .rate .best {
    margin: 0;
  }
  .rate .rate__item {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .rate .rate__text {
    margin-top: .5rem;
  }
  .testimonies .colton,
  .testimonies .irene,
  .testimonies .anne {
    margin: .8rem;
  }
  .container .testimonies {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 4rem;
  }
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "spartan", sans-serif;
  font-weight: 400;
  background-color: #c4c4c4;
}

.container {
  background-color: white;
  margin: 2rem 2rem;
  padding: 8rem 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: [margin-start] minmax(1rem, 1fr) [center-start] ([col-start] 1fr [col-end])[8] [center-end margin-end] minmax(1rem, 1fr);
      grid-template-columns: [margin-start] minmax(1rem, 1fr) [center-start] repeat(8, [col-start] 1fr [col-end]) [center-end margin-end] minmax(1rem, 1fr);
  -ms-grid-rows: min-content;
      grid-template-rows: -webkit-min-content;
      grid-template-rows: min-content;
  background-image: url(/images/bg-pattern-top-desktop.svg), url(/images/bg-pattern-bottom-desktop.svg);
  background-position: top left, bottom right;
  background-repeat: no-repeat;
}

.attribution {
  grid-column: center-start / col-end 3;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  margin-top: 5rem;
}

.header {
  grid-column: center-start / center-end;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(20rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.headline {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(min-content, 38rem);
      grid-template-columns: minmax(-webkit-min-content, 38rem);
      grid-template-columns: minmax(min-content, 38rem);
  grid-gap: 2rem;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row-align: start;
      align-self: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.headline__main {
  width: 90%;
  font-size: 3.5rem;
  color: #502050;
}

.headline__sub {
  color: #937b92;
  line-height: 1.8;
}

.testimonies {
  grid-column: center-start / center-end;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(29rem, 30rem))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(29rem, 30rem));
  -ms-grid-rows: minmax(5rem, 25rem);
      grid-template-rows: minmax(5rem, 25rem);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 6.5rem;
}

.user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 0;
      -ms-flex: 0 1;
          flex: 0 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem;
  border-radius: .7rem;
  background-color: #502050;
}

.user__item {
  margin: 1rem 1.8rem;
}

.user__name {
  color: #f7f2f7;
  margin-bottom: .2rem;
}

.user__tag {
  color: #937b92;
}

.user__img {
  -webkit-clip-path: circle(50% at 50% 50%);
          clip-path: circle(50% at 50% 50%);
  width: 3.5rem;
  height: 3.5rem;
  margin-left: .5rem;
}

.user__review {
  font-weight: 400;
  line-height: 1.7;
  margin: 1.2rem .5rem;
  color: #f7f2f7;
}

.colton {
  margin-bottom: 4rem;
}

.irene {
  margin: 2rem 0;
}

.anne {
  margin-top: 4rem;
}

@media (max-width: 76.8rem) {
  .header .headline {
    text-align: center;
    margin-bottom: 4rem;
  }
  .header .headline__main {
    width: 100%;
    font-size: 3rem;
    line-height: 1;
  }
  .rate .review,
  .rate .report,
  .rate .best {
    margin: 0;
  }
  .rate .rate__item {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .rate .rate__text {
    margin-top: .5rem;
  }
  .testimonies .colton,
  .testimonies .irene,
  .testimonies .anne {
    margin: .8rem;
  }
  .container .testimonies {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 4rem;
  }
}

.rate {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(20rem, max-content);
      grid-template-columns: minmax(20rem, -webkit-max-content);
      grid-template-columns: minmax(20rem, max-content);
  grid-gap: 1.5rem;
  -ms-grid-column-align: end;
      justify-self: end;
}

.rate__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.3rem 2rem;
  border-radius: .5rem;
  background-color: #f7f2f7;
}

.rate__text {
  color: #502050;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  margin-left: 1rem;
}

.rate__img {
  margin: .5rem;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.rate__img > img {
  margin: 0 .3rem;
  height: 1.35rem;
}

.review {
  margin-right: 6rem;
}

.report {
  margin: 0 3rem;
}

.best {
  margin-left: 6rem;
}
/*# sourceMappingURL=main.css.map */