$color-primary-1: #502050; //Very Dark Magenta
$color-primary-2: #ee68a4; //Soft Pink

$color-secondary-1: #937b92; //Dark Grayish Magenta
$color-secondary-2: #f7f2f7; //Light Grayish Magenta

$font-primary: 'spartan', sans-serif;
